<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="container header-content">
            <div class="logo">
                IC "Repair Design Project"
            </div>
            <nav>
                <ul class="header-navigation">
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">HOME</a></li>
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">PROJECTS</a></li>
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">MEASUREMENT</a></li>
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">TEAM</a></li>
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">REVIEWS</a></li>
                    <li class="header-navigation_item"><a href='#' class="header-navigation_link">CONTACTS</a></li>
                </ul>
            </nav>
            <span><a href="tel:+79287683239" class="phone">+7 (928) 768-32-39</a></span>
            <button class="button">Request a call</button>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container hero-container">
                <div class="f1_block">
                    <h1 class="title">Turnkey Repair in the<br />city of <span>Rostov-on-Don<span></h1>
                    <p class="text">Get ready-made turnkey repairs on time
                        with work time saving up to 45 days and 20% from
                        cost of materials due to the organization of work
                    </p>
                    <button class="button calculate">CALCULATE THE COST</button>
                    <button class="button submit">SUBMIT YOUR APPLICATION</button>
                </div>
            </div>
            <div class="hero-overlay"></div>
        </section>
        <section class="completed_projects">
            <div class="container">

                <nav class="navbar_container">
                    <ul class="header-navigation completed_projects_navbar">
                        <li class="header-navigation_item comproj"><a class="header-navigation_link subnav title" href="#">Rostov-on-Don, Admiral</a></li>
                        <li class="header-navigation_item comproj"><a class="header-navigation_link subnav title" href="#">Sochi Thieves</a></li>
                        <li class="header-navigation_item comproj"><a class="header-navigation_link subnav title" href="#">Rostov-on-Don Patriotic</a></li>
                    </ul>
                </nav>
                <div class="section2_content">
                    <div class="completed_projects_text">
                        <h2 class="title subtitle">Completed<br>projects</h2>
                        <p class="text second_text">Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
                            market we have made happy more than 1000 families
                        </p>
                        <div class="grid_wrapper">
                            <div class="grid_item">
                                <h3 class="title grid_title">City:</h3>
                                <span class="grid_text">Rostov-on-Don
                                    LCD admiral
                                </span>
                            </div>
                            <div class="grid_item">
                                <h3 class="title grid_title">apartment area:</h3>
                                <span class="grid_text">81 m<sup>2</sup></span>
                            </div>
                            <div class="grid_item">
                                <h3 class="title grid_title">Repair time:</h3>
                                <span class="grid_text">3.5 months</span>
                            </div>
                            <div class="grid_item">
                                <h3 class="title grid_title">Repair Cost:</h3>
                                <span class="grid_text">Upon request</span>
                            </div>
                        </div>
                        <div class="bottom_arrows">
                        
                            <img src="../images/head_left.svg">
                            <img src="../images/vector_left.svg" class="line_left">
                            
                            <img src="../images/white_circle.svg" class="vector">
                            <img src="../images/circle_grey.svg" class="vector">
                            <img src="../images/circle_grey.svg" class="vector">
                            <img src="../images/vector_left.svg" class="line_right">
                            <img src="../images/head_right.svg">
                            
                        </div>
                    </div>
                    
                    <div class="completed_projects_image"><img src="../images/completeProject.png"></div>
                </div>
            </div>
        </section>
        <section class="online_control">
            <div class="container">
                <div class="online_control-head">
                    <h1 class="title title-block3">online control</h1>
                    <div class="camera_image">
                        <img src="../images/goldenLine.svg" class="camera_elements">
                        <img src="../images/Camera.svg" class="camera_elements">
                        <img src="../images/goldenLine.svg" class="camera_elements">
                    </div>
                    <img src="../images/manWithtool.png" class="control_image">
                </div>
                <div>
                    Head
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>